---
image:
  name: docker-web.cdek.ru/phnodenx-dev-rocky9-8.2
  entrypoint: ['']

stages:
  - build
  - upload
  - deploy

variables:
  ARTIFACTORY_REPO: "https://repo.cdek.ru/artifactory/erp-cms"

build_tag:
  stage: build
  tags:
    - docker
  only:
    - tags
  before_script:
    - export RELEASE_VERSION=$(echo "${CI_COMMIT_TAG}" | sed 's/v//')
  script:
    - sed -i "s/\(Version:\)\( *\).*/\1\2${RELEASE_VERSION}/" cdek.php
    - sed -i "s/\(Stable tag:\)\( *\).*/\1\2${RELEASE_VERSION}/" readme.txt
    - sed -i "s/\(Project-Id-Version:\)\( *\).*/\1\2CDEKDelivery ${RELEASE_VERSION}/" lang/cdekdelivery.pot
    - sed -i "s/\(Project-Id-Version:\)\( *\).*/\1\2CDEKDelivery ${RELEASE_VERSION}/" lang/cdekdelivery-ru_RU.po
    - yarn set version berry
    - yarn
    - yarn build
    - rm -rf node_modules
    - composer i -a
    - vendor/bin/wp i18n --allow-root make-mo lang lang
    - vendor/bin/wp i18n --allow-root make-json --no-purge lang lang
    - composer i -a --no-dev
    - composer archive -f zip --file=cdek
  artifacts:
    name: cdek-integration
    paths:
      - cdek.zip

build_custom:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - when: manual
  stage: build
  tags:
    - docker
  artifacts:
    name: cdek-integration
    paths:
      - cdek.zip
  before_script:
    - export RELEASE_VERSION="${CI_COMMIT_REF_NAME}#${CI_COMMIT_SHORT_SHA}"
  script:
    - !reference [build_tag, script]

upload:
  stage: upload
  tags:
    - docker
  needs:
    - job: build_tag
      artifacts: true
  only:
    - tags
  before_script:
    - export RELEASE_VERSION=$(echo "${CI_COMMIT_TAG}" | sed 's/v//')
    - export ARCHIVE_VERSION=$(echo "${RELEASE_VERSION}" | sed 's/\./_/g')
  script:
    - zip -r cdek.zip cdek
    - curl -u "${ARTIFACTORY_LOGIN}":"${ARTIFACTORY_PASS}" --upload-file cdek.zip "${ARTIFACTORY_REPO}/$CI_PROJECT_NAME/$CI_COMMIT_BRANCH/wordpress_${ARCHIVE_VERSION}.zip"

release:
  stage: deploy
  tags:
    - docker
  needs:
    - job: upload
  only:
    - tags
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  before_script:
    - export RELEASE_VERSION=$(echo "${CI_COMMIT_TAG}" | sed 's/v//')
    - export ARCHIVE_VERSION=$(echo "${RELEASE_VERSION}" | sed 's/\./_/g')
  script:
    - |
      release-cli create --name $CI_COMMIT_TAG --tag-name $CI_COMMIT_TAG \
        --assets-link "{\"name\":\"Архив\",\"filepath\":\"/archive\",\"url\":\"${ARTIFACTORY_REPO}$CI_COMMIT_BRANCH/$CI_PROJECT_NAME/wordpress_${ARCHIVE_VERSION}.zip\", \"link_type\":\"package\"}" \

deploy_staging:
  stage: deploy
  script:
    - rsync -avz -e "ssh -o StrictHostKeyChecking=no" --delete ./cdek.zip ${DEPLOY_USERNAME}@${DEPLOY_NODE}:${DEPLOY_DEST_DIR}/plugins
    - ssh ${DEPLOY_USERNAME}@${DEPLOY_NODE} "cd ${DEPLOY_DEST_DIR}/core && docker compose restart app"
  tags:
    - docker
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - when: never
  needs:
    - job: build_custom
      artifacts: true
  environment:
    name: dev2
    url: https://wordpress-cms.dev2.cdek.ru
  before_script:
    - test -r ~/.ssh || mkdir -p ~/.ssh
    - 'command -v ssh-agent >/dev/null || ( apk update && apk add openssh-client )'
    - 'command -v rsync >/dev/null || ( apk update && apk add rsync )'
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - apk add curl zip
    - zip -r cdek.zip cdek
