#delete-order-btn {
  cursor: pointer;
  color: #b32d2e;
  text-decoration: none;
  margin-left: auto;
}

#delete-order-btn:hover {
  text-decoration: underline;
}

#delete-order-btn.clicked {
  color: gray;
  text-decoration: none;
  cursor: default;
}

#cdek-create-order-error {
  color: #b32d2e;
}

#cdek-delete-order-error {
  color: #b32d2e;
}

#cdek-courier-info {
  margin: auto;
}

#cdek-courier-error {
  color: #b32d2e;
}

#cdek-courier-block {
  margin-top: 10px;
}

#call-courier-form {
  display: none;
}

#cdek-courier-block input {
  margin-top: 5px;
}

#cdek-courier-block p {
  margin: auto;
}

#cdek-courier-delete {
  color: #b32d2e;
  text-decoration: none;
}

#cdek-courier-delete:hover {
  text-decoration-line: underline;
}

#cdek-order-courier {
  margin: auto;
  color: #2271b1;
  cursor: pointer;
}

#cdek-order-courier:hover {
  text-decoration-line: underline;
}

#cdek-order-waybill, #cdek-order-barcode {
  text-decoration: none;
  margin: auto;
}

#cdek-order-waybill:hover, #cdek-order-barcode:hover {
  text-decoration-line: underline;
}

#cdek-order-barcode {
  display: block;
}

#cdek-courier-delete {
  cursor: pointer;
}

#cdek-loader {
  z-index: 50;
  /*background-color: #e3e5e5;*/
  position: absolute;
  top: 0;
  width: 91%;
  height: 94%;
  opacity: 50%;
  background: rgba(255, 255, 255, 0.8) url(../img/preloader.gif) center center no-repeat;
}

.cdek-error {
  padding: 5px;
  background: #E58787;
}

.cdek-order-status-elem-name {
  padding: 3px;
}

#cdek-order-status-btn {
  display: inline-flex;
  cursor: pointer;
  width: 100%;
}

#cdek-order-status-btn:hover {
  background-color: #2271b12e;
}

.cdek-btn-arrow {
  margin-left: auto;
}

#cdek-btn-arrow-down {
  display: none;
}

#cdek-order-status-list {
  display: none;
}
