#official_cdek_order {
  .inside {
    padding: 0;

    & > div {
      padding: 0 12px;

      &.submitbox {
        padding-bottom: 12px;
      }
    }
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    position: absolute;
    top: -13px;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(238, 238, 238, .5);

    &[aria-disabled=true] {
      display: none;
    }

    span {
      background: url(../img/loader.svg) no-repeat;
      background-size: contain;
      -webkit-animation: spin 1s linear infinite;
      -moz-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
      display: block;
      width: 100px;
      height: 100px;
    }
  }

  .print {
    text-decoration: none;
    margin: auto;

    :hover {
      text-decoration-line: underline;
    }
  }

  .deletion {
    text-decoration: underline;
  }

  .intake {
    .form {
      margin: 10px 0;

      input {
        margin: 2px 0;
      }
    }

    &[aria-expanded=false] .form {
      display: none;
    }
  }

  .create {
    &[aria-invalid] {
      padding-bottom: 12px;
    }

    &[aria-invalid="true"] {
      button[data-id] {
        display: none;
      }
    }

    &[aria-invalid="false"] > div:first-of-type {
      display: none;
    }

    .item {
      display: flex;
      align-items: center;
      margin-top: 10px;

      span:last-of-type {
        margin: 0 10px;
      }

      input[type=number] {
        width: 4em;
      }

      &[aria-hidden=true] {
        display: none;
      }
    }
  }

  .actions {
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .buttons {
    display: flex;
    justify-content: end;
  }

  .status {
    &[aria-expanded=false] .list {
      display: none;
    }

    &[aria-expanded=true] .toggle-indicator {
      rotate: 180deg;
    }

    .toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        background-color: #2271b12e;
      }
    }

    .name {
      padding: 3px;
    }
  }
}
