.reg-elem {
    cursor: pointer;
}

.reg-elem:hover {
    background: lightblue;
}

#region-list {
    max-height: 100px;
    overflow: auto;
}

#delivery-container {
    display: none;
}

#map {
    width: 600px;
    height: 400px;
    position: relative;
    outline: none;
}

#create-order-submit-btn {
    display: none;
}