#cdek-map {
    width: 600px;
    height: 400px;
    position: relative;
    outline: none;
}

/*#map-container {*/
/*    display: none;*/
/*}*/

.reg-elem {
    cursor: pointer;
}

.reg-elem:hover {
    background: lightblue;
}

#region-list {
    max-height: 100px;
    overflow: auto;
    width: 400px;
    background-color: #fff;
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

#region-list:empty {
    display:none;
}

#delete-order-btn {
    cursor: pointer;
    color: #b32d2e;
    text-decoration: underline;
    margin-left: auto;
}

#delete-order-btn:hover {
    text-decoration: none;
}

#delete-order-btn.clicked {
    color: gray;
    text-decoration: none;
    cursor: default;
}

#cdek-create-order-error {
    color: #b32d2e;
}

#cdek-delete-order-error {
    color: #b32d2e;
}