.official_cdek-uin-input-container {
  position: relative;

  .official_cdek-notice {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    bottom: 0;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #ffffff;
  }

  .notice-success {
    background-color: #2ea44f;
  }

  .notice-error {
    background-color: #d9534f;
  }
}
