.cdek-delivery-rules {
  width: 700px;

  & > div {
    display: flex;
    align-items: center;
    gap: 10px;

    & h4 {
      margin: 0;
      text-align: center;
    }

    &.cdek-header {
      margin-top: 10px;
      display: grid;
      grid-template-columns: 4fr 1fr;

      & > span {
        justify-self: end;
      }
    }

    .woocommerce table.form-table & {
      & > select.cdek-selector {
        width: 145px;
        line-height: 28px;
        margin: 5px 0;
      }

      & > input[type=number] {
        width: 75px;
      }
    }
  }
}
